.custom-audio-player {
  width: 100vw;
    
  margin: 0 ;  
  min-width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
   background-color: #1F2732;
-webkit-backdrop-filter: blur(10px) !important;

}

.display-image-player {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin: 0rem 1rem;
}

.duration-range {
  filter: hue-rotate(25deg);
  width: 100%;
}

.duration-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 35%;
}

.volume-range {
  filter: hue-rotate(25deg);
  width: 15%;
}

.audio-btn {
  cursor: pointer;
}