.custom-btn{
    text-align: center;
    border:2px solid var(--white);
    padding:1rem;
    border-radius:0.35rem ;
    cursor: pointer;
    width: 40%;
    margin:1rem;
    font-size: 1rem;
    font-weight: 500;
}

.custom-btn:hover{
    background-color: #337C79;
     color:var(--grey);
    font-weight: bold;
  transition: all 0.2s;
}