@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --theme: #101116;
  --blue: #18b2de;
  --white: #fff;
  --grey: #1c1d1d;
  --purple-grey: #337c79;

  --fs-xl:clamp(3rem,12vw+1rem,12rem);
  --fs-600:1.6rem;
  --fs-500:1.4rem;
  --fs-400:1.3rem;
  
}

@media (max-width:40em){
  :root{
    --fs-600:2rem;
    --fs-500:1.2rem;
    --fs-400:0.8rem;
  }
}
@media(min-width:743px){
  .hero-{
    max-width: 100%;
    margin: auto;

  }
}
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
  color: var(--white);
  }
.container {
  padding-inline: 8rem;
  padding-block: 6rem;
  max-width: 1000px;
  margin-inline: auto;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  gap:0.5rem 6rem;
  justify-content: space-between;
}

.hero .intro-top {
  font-size: var(--fs-600);
  line-height: 4rem;
  letter-spacing: 0.16rem;
}
.hero .intro-btm {
  /* font-size: 1.2rem; */
  font-size: var(--fs-400);
  line-height: 1rem;
  padding-top: 0.1rem;
}
.hero .intro-btm > h4 {
  font-weight: 500;
}
.hero-l img {
  cursor: pointer;
}
.hero-l .btm {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.thumbnail-container {
  margin-top: 6rem;
}
.thumbnail-subcontainer {
  margin-top: 5rem;
  display: flex;
  gap: 1.5rem;
 }
 
.thumbnail-container > h2 {
  font-size: var(--fs-500);
}
.thumbnail {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 30rem;
  justify-content: center;
  border: 3px solid white;
  border-radius: 1rem;
  padding: 0.4rem;
}
.thumbnail > btm {
  display: flex;
  justify-content: space-between;
}
.thumbnail-l .btm {
  display: flex;
  justify-content: space-between;
}
.headphone {
  height: 8rem;
}

input {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
.input-wrapper {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 7rem;
 }
.input-wrapper h1 {
  font-size: var(--fs-500);
  text-align: center;
   margin-bottom: 2rem;
}

.podcasts-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.podcast-title-heading {
  text-align: left !important;
  width: 100%;
}
.banner-wrapper {
  width: 250px;
  min-height: 250px;
  background: linear-gradient(
    7deg,
    rgba(58, 129, 191, 0.3) 1.63%,
    rgba(65, 48, 90, 0.009) 148.18%
  );
  border-radius: 2rem;
  padding: 0.5rem;
  height: 300px;
  width: 100%;
}
.banner-wrapper img {
  width: 100%;
  height: 300px !important;
  object-fit: cover;
  border-radius: 2rem;
}
.podcast-description {
  color: var(--purple-grey);
  text-align: left;
  width: 100%;
  margin-bottom: 3rem;
}

.profile-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 5rem;
  gap:5rem
}

.profile-div .left-div img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.right-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.info legend {
  font-size:  1.4rem;
  margin-bottom: 35px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right .btns {
  display: flex;
  flex-direction: row;
}
.right button {
  width: 10rem;
  margin-top: 1.5rem;
}

.podcast-header{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
 
@media ( max-width:768px){
.thumbnail-subcontainer{
  flex-wrap: wrap;

}
}